.header {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 46px;
  width: 100%;
  background-image: url("../images/spots-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
}
